# 혼자 공부해보자!

## 함수

In [1]:
def sum(a,b):
    return a+b

In [2]:
a=3

In [3]:
b=4

In [4]:
c=sum(a,b)

In [7]:
print(c)

7

In [13]:
def sum_many(*number):
    sum=0
    for i in number:
        sum=sum+i
    return sum

In [14]:
sum_many(3,4,5,6,1)

19

In [15]:
result = sum_many(1,2,3)

In [16]:
print(result)

6

In [17]:
result=sum_many(1,2,3,4,5,6,7,8,9,10)

In [18]:
print(result)

55

In [19]:
def sum_mul(choice, *args):
    if choice == "sum":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args :
            result = result*i
    return result

In [20]:
result = sum_mul("sum", 1,2,3,4,5)

In [21]:
print(result)

15

In [22]:
result = sum_mul('mul', 1,2,3,4,5)

In [23]:
print(result)

120

In [26]:
def sum_and_mul(a,b):
    return a+b, a*b

In [27]:
a=sum_and_mul(3,5)

In [28]:
print(a)

(8, 15)

In [29]:
def say_nick(nick):
    if nick =="바보":
        return
    print("나의 별명은 %s입니다."%nick)

In [30]:
a=say_nick("야호")

나의 별명은 야호입니다.

In [31]:
print(a)

None

In [32]:
b=say_nick("바보")

In [33]:
print(b)

None

In [34]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s입니다." %name)
    print("나이는 %d살 입니다."%old)
    if man :
        print("남자입니다.")
    else:
        print("여자입니다.")

In [37]:
say_myself("charce", 27)

나의 이름은 charce입니다.
나이는 27살 입니다.
남자입니다.

In [39]:
say_myself("ellin", 36, False)

나의 이름은 ellin입니다.
나이는 36살 입니다.
여자입니다.

In [40]:
def say_myself(name, man=True, old):
    print("나의 이름은 %s입니다." %name)
    print("나이는 %d살입니다." %old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

SyntaxError: non-default argument follows default argument (<ipython-input-40-0ab77d5675f5>, line 1)

### 함수 안에 쓰인 변수와 함수 밖의 변수는 같은걸까? 다른걸까?

In [47]:
a=1

In [50]:
def vartest(a):
    a= a+1

In [51]:
vartest(a)

In [52]:
print(a)

1

In [54]:
def vartest(a):
    a=a+1
    return a
a=vartest(a)
print(a)

2

In [55]:
a=1

In [56]:
def vartest():
    global a
    a=a+1
vartest()
print(a)

2