In [1]:
500+900

1400

In [4]:
str1 = '문자열다뤄봐요'

In [6]:
str1[2]

'열'

In [7]:
str1 = "문자열다뤄봐요  "
str2 = '  한양대특강'
str3 = '  파이썬 참 쉽죠?  '

In [8]:
strl.rstrip()

'문자열다뤄봐요'

In [9]:
str2.lstrip()

'한양대특강'

In [10]:
str3.strip()

'파이썬 참 쉽죠?'

In [12]:
x=1
y=2
print('{x}와 {y}를 더하면 {z}입니다.'.format(x=x, y=y, z=x+y))

1와 2를 더하면 3입니다.

In [16]:
len(list(range(10)))

10

In [17]:
range #shift teb누르면 설명해줌

range

In [18]:
one_to_ten = range(1, 10+1)

In [19]:
for i in one_to_ten:
    print(i)

1
2
3
4
5
6
7
8
9
10

## 모듈 불러오기

In [21]:
import random #리스트는 가지고 있고, 그 중에 랜덤하게 선택하고 싶을 때 사용

In [22]:
import time

In [23]:
# 모듈사용하기

In [24]:
gawi = ['가위', '바위', '보']

In [25]:
random.choice(gawi)

'보'

In [28]:
one_to_five = range(1, 5+1)

In [29]:
for i in one_to_five:
    print(i)
    time.sleep(3) #()안의 숫자를 쉬고 출력

1
2
3
4
5

### 예외처리

In [30]:
v1 = '2'
v2 = 2

v3=v2/v1

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [35]:
try:
    v1 = '2'
    v2 = 2
    
    v3 = v2/v1
except(TypeError) as e:
    print("{ex}오류양".format(ex=e.__class__.__name__)) # __는 내부정보라서 숨겨져있다.
except(AttributeError) as e1:
    print("{ex}오류양".format(ex=e.__class__.__name__)) # except함수는 오류 메세지를 사용자에게 전달할 수 있다.

TypeError오류양

### 함수 선언

In [38]:
def sumsum(a, b):
    print('{x}와 {y}를 더하면 {z}입니다.'.format(x=a, y=b, z=a+b))
    
def subsub(a, b):
    print('{x}와 {y}를 빼면 {z}입니다.'.format(x=a, y=b, z=a-b))
    
def mulmul(a, b):
    print('{x}와 {y}를 곱하면 {z}입니다.'.format(x=a, y=b, z=a*b))
    
def divdiv(a, b):
    print('{x}와 {y}를 나누면 {z}입니다.'.format(x=a, y=b, z=a/b))

In [39]:
sumsum(5,7)

5와 7를 더하면 12입니다.

In [40]:
subsub(9,5)

9와 5를 빼면 4입니다.

 ### pandas 사용하기

In [41]:
import pandas as pd #pd라는 이름으로 판다스 사용하겠다.

In [46]:
list_1 =[1,2,3,4]
list_2=['a','b','c','d']
list_3=['야옹','멍멍','꿀꿀', "쿠쿠"]
pd.DataFrame([list_1, list_2, list_3]) #판다스를 이용하여 데이터프레임 만들기

    0   1   2   3
0   1   2   3   4
1   a   b   c   d
2  야옹  멍멍  꿀꿀  쿠쿠

In [47]:
pd.DataFrame([list_1, list_2]).T #.T는 행과 열을 뒤집어서 시각화

   0  1
0  1  a
1  2  b
2  3  c
3  4  d

In [50]:
list_1 = ['임철현', '최용희', '전용기']
list_2 = ['27','26','27']

celeb_df = pd.DataFrame([list_1, list_2]).T

In [54]:
celeb_df.columns = ['이름','나이'] #행의 이름바꾸기

In [55]:
celeb_df #처음 만들때 이름을 만들고 싶으면 t하고 한다고???

    이름  나이
0  임철현  27
1  최용희  26
2  전용기  27

In [57]:
#칼럼단위로 조회를 하고 싶을때 celeb_df['칼럼']하면 된다

In [58]:
#만약 위에서 작성한 celeb_df를 특정 이름인 행만 보고자 할때
#celeb_df[celeb_df['이름'] == '특정']

In [59]:
celeb_df

    이름  나이
0  임철현  27
1  최용희  26
2  전용기  27

In [65]:
celeb_df.sort_values('나이') #오름차순으로 정렬됨

    이름  나이
1  최용희  26
0  임철현  27
2  전용기  27

In [68]:
celeb_df.sort_values('나이', ascending=False) #이대로 저장하고자 하면 앞에 새롭게 이름을 지정해주면 됨.

    이름  나이
0  임철현  27
2  전용기  27
1  최용희  26

In [71]:
celeb_df.sort_values('나이', ascending=False, inplace=True) #inplace는 새로운 이름 대입없이 그대로 저장

In [70]:
celeb_df

    이름  나이
0  임철현  27
2  전용기  27
1  최용희  26

### selenium사용

In [72]:
from selenium import webdriver

In [79]:
driver = webdriver.Chrome('C:/Users/charce/chromedriver.exe')

In [80]:
driver.get('http://www.naver.com') #컨트롤 시프트 c하면 관리자?모드

### 네이버 로그인하기

In [84]:
id_element = driver.find_element_by_id('id') # id라는 거 찾기
pw_element = driver.find_element_by_id('pw')

In [87]:
id_element.send_keys('ch911129')

In [90]:
pw_element.send_keys('cpacjfgus!@')

In [91]:
login_btn = driver.find_element_by_css_selector('span.btn_login')

In [92]:
login_btn.click()